<% content_for :head do %>
  <meta property="og:url" content="<%= team_url(@team) %>">
<% end %>

<% if @breakout_turbo %>
  <% turbo_page_requires_reload %>
<% end %>

<div>
  <h2 class="text-2xl font-normal mb-4">Team Settings</h2>
  <%= render "components/tabs", tabs: [
    {
      label: "General",
      content: render(partial: "teams/general", locals: { team: @team })
    },
    {
      label: "Members",
      content: render(partial: "teams/members", locals: { team: @team })
    }
  ] %>
</div>

<%= turbo_frame_tag "modal" %>
