<% if false %>
必要なパラメータ:
- label: バッジに表示するテキスト（必須）
オプションパラメータ:
- classes: 追加のCSSクラス
<% end %>

<% classes ||= "" %>

<span class="w-fit inline-block px-2 py-0.5 text-sm rounded-[1000px] bg-[#FCFCFD] font-bold <%= classes %>">
  <%= label %>
</span>
