<%# locals: (label:, classes: "") %>

<span class="w-fit inline-block px-2 py-0.5 text-sm rounded-[1000px] bg-[var(--semantic-neutral-background)] font-bold text-[var(--semantic-neutral-text)] <%= classes %>">
  <%= label %>
</span>
