<% if errors.present? %>
  <ul class="mt-2 text-[var(--mainColor)]">
    <% errors.each do |e| %>
      <li class="text-sm <%= 'mb-1' unless e == errors.last %>"><%= e.full_message %></li>
    <% end %>
  </ul>
<% end %>
