<footer class="flex flex-col items-center pt-4">
  <div class="mb-4">
    <img src="/icons/github-mark.svg" alt="GitHub" class="h-8 w-8">
  </div>
  <div class="mb-4">
    <img src="/smarthr-logo.svg" alt="SmartHR" class="h-6">
  </div>
  <div class="w-full h-8 bg-gradient-to-t from-[#00C4CC] to-transparent"></div>
</footer>