<footer class="flex flex-col items-center pt-4">
  <div class="mb-4">
    <%= link_to "https://github.com/kufu/mie", target: "_blank" do %>
      <img src="/icons/github-mark.svg" alt="GitHub" class="h-8 w-8">
    <% end %>
  </div>
  <div class="mb-4">
    <%= link_to "https://hello-world.smarthr.co.jp", target: "_blank" do %>
      <img src="/smarthr-logo.svg" alt="SmartHR" class="h-6">
    <% end %>
  </div>
  <div class="w-full h-8 bg-gradient-to-t from-[#00C4CC] to-transparent"></div>
</footer>
