<div class="rounded-lg p-3 flex flex-col gap-y-2 h-full border-2 border-dashed border-shade-30">
    <p class="text-sub">
        Schedule.blank?
    </p>
    <div class="flex flex-col gap-y-1 text-sub font-bold">
        <%= t('card.friends') %>
        <% 
            # 仮のプロフィールデータ
            dummy_profiles = [
                { name: 'Ruby Takusankaku', avatar_url: 'https://i.pravatar.cc/150?img=1', id: '1' },
                { name: 'Hanako Sato', avatar_url: 'https://i.pravatar.cc/150?img=5', id: '2' },
                { name: 'Jiro Tanaka', avatar_url: 'https://i.pravatar.cc/150?img=3', id: '3' }
            ]
            
            # 仮のセッション情報
            dummy_session_info = {
                time: defined?(start_end) ? start_end : '04:30 - 05:00',
                language: 'ja',
                location: 'Large Hall',
                title: 'デモセッション',
                presenter: {
                    name: 'Demo Presenter',
                    handle: 'demo_presenter',
                    avatar_url: 'https://i.pravatar.cc/150?img=8'
                }
            }
        %>
        <%= render 'components/friends_button', profiles: [], onClick: "alert('test')" %>
    </div>
    <% if @team.present? %>
        <div class="flex flex-col gap-y-1 text-sub font-bold">
            <%= t('card.team', team_name: @team&.name) %>
        </div> 
    <% end %>
</div> 