<div class="w-full">
  <%= @qrcode.html_safe %>
  <div class="flex flex-col w-full mt-4" data-controller="friend-code" data-friend-code-expires-at-value="<%= @trigger.expires_at.to_i * 1000 %>">
    <p>expires in <span data-friend-code-target="counter"></span> seconds</p>
    <a href="<%= new_profile_friend_path %>" class="normal-button mr-2"><%= I18n.t('button.reload') %></a>
  </div>
</div>
