<div class="flex w-full justify-center">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="539" height="539" shape-rendering="crispEdges">
    <%= @qrcode.html_safe %>
  </svg>
</div>