<div class="flex h-full">
  <div class="w-full sm:min-w-[400px] h-fit p-4 shadow-[0_1px_2px_0_rgba(3,3,2,0.3)] rounded-md bg-white">
    <div class="flex flex-col justify-between items-start">
      <div class="h-2 m-4 bg-slate-300 rounded"></div>
    </div>

    <div class="mb-6">
      <h3 class="text-xl  my-2">
        <div class="h-2 m-4 bg-slate-300 rounded"></div>
      </h3>

      <div class="line-clamp-3 text-sm text-[rgb(35,34,31)] break-words overflow-y-hidden align-bottom">
        <div class="h-2 m-4 bg-slate-300 rounded"></div>
        <div class="h-2 m-4 bg-slate-300 rounded"></div>
        <div class="h-2 m-4 bg-slate-300 rounded"></div>
      </div>
    </div>
  </div>
</div>
