<% @selected = @plan.plan_schedules.map(&:schedule).any? { row.schedules.include?(_1) } %>
<p class="text-xl font-normal mr-4 shrink-0"><%= row.start_end %></p>
<% track_list.each do |track| %>
  <% if row.tracks[track] %>
    <div class="p-2"><%= render("schedules/card", schedule: row.tracks[track], mode: :schedule, inactive: @selected) %></div>
    <% if @user&.profile %>
      <div class="flex flex-wrap ml-6 mb-4">
        <% @user.profile.friend_profiles.each do |profile| %>
          <% if @friends_schedules_map[profile.id].include?(row.tracks[track].id) %>
            <img src="<%= profile.avatar_url %>" class="h-8 w-8 rounded-full border-2 border-black mt-[-4px] ml-[-16px] mt-1" />
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
