<% @selected = @plan.plan_schedules.map(&:schedule).any? { row.schedules.include?(_1) } %>
<p class="text-xl font-normal mr-4 shrink-0"><%= row.start_end %></p>
<% track_list.each do |track| %>
  <% if row.tracks[track] %>
    <div class="p-2"><%= render("schedules/card", schedule: row.tracks[track], mode: :schedule, inactive: @selected) %></div>
  <% end %>
<% end %>
