<% if @breakout_turbo %>
  <% turbo_page_requires_reload %>
<% end %>

<% content_for :head do %>
  <meta property="og:url" content="<%= root_url + "#{@event.name}/" %>">
<% end %>

<div class="sm:pt-20 sm:pl-36 flex flex-col gap-4">
  <div class="text-[var(--textColor)] text-2xl">
    <div>
      <img src="<%= asset_path("#{@event.name}/title.svg") %>" />
    </div>
    <div>
      Schedule.select <span>powered by</span> SmartHR
    </div>
  </div>
  <div class="flex my-4">
    <div class="w-28 h-1 bg-[var(--mainColor)]"></div>
    <div class="w-28 h-1 bg-[var(--subColor)]"></div>
    <div class="w-28 h-1 bg-[var(--accentColor)]"></div>
  </div>
  <div class="sm:w-[600px] my-6 text-[var(--textColor)] text-base leading-[200%]">
      <%= I18n.t('application.intro') %>
  </div>
  <div class="mb-4 space-y-2">
    <p class="flex text-[rgb(0,113,193)]">
      <a href="<%= @event.event_theme.site_url %>" target="_blank" class="text-blue-600 dark:text-blue-500 hover:underline">Official Site</a>
      <svg class="ml-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" width="1em" height="1em" class="smarthr-ui-Icon group-[]/iconWrapper:shr-shrink-0 group-[]/iconWrapper:shr-translate-y-[0.125em] forced-colors:shr-fill-[CanvasText]" role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg"><path d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"></path></svg>
    </p>
    <p class="flex text-[rgb(0,113,193)]">
      <a href="https://twitter.com/rubykaigi" target="_blank" class="text-blue-600 dark:text-blue-500 hover:underline">X</a>
      <svg class="ml-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" width="1em" height="1em" class="smarthr-ui-Icon group-[]/iconWrapper:shr-shrink-0 group-[]/iconWrapper:shr-translate-y-[0.125em] forced-colors:shr-fill-[CanvasText]" role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg"><path d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"></path></svg>
    </p>
    <p><a href="https://smarthr.co.jp/" target="_blank" class="text-blue-600 dark:text-blue-500 hover:underline">SmartHR</a></p>
  </div>
  <div class="text-sm text-gray-500">
    This website is made with Rails7, Hotwire and TailwindCSS
  </div>
</div>
