<% if @breakout_turbo %>
  <% turbo_page_requires_reload %>
<% end %>

<% content_for :head do %>
  <meta property="og:url" content="<%= root_url + "#{@event.name}/" %>">
<% end %>

<div class="sm:pt-20 sm:pl-36 flex flex-col gap-4">
  <div class="text-[var(--textColor)] text-2xl">
    <div>
      <img src="<%= asset_path("#{@event.name}/title.svg") %>" />
    </div>
    <div>
      Schedule.select <span>powered by</span> SmartHR
    </div>
  </div>
  <div class="flex my-4">
    <div class="w-28 h-1 bg-[var(--mainColor)]"></div>
    <div class="w-28 h-1 bg-[var(--subColor)]"></div>
    <div class="w-28 h-1 bg-[var(--accentColor)]"></div>
  </div>
  <div class="sm:w-[600px] my-6 text-[var(--textColor)] text-base leading-[200%]">
      <%= I18n.t('application.intro') %>
  </div>
  <div class="mb-4 space-y-2">
    <p><a href="<%= @event.event_theme.site_url %>" target="_blank" class="text-blue-600 dark:text-blue-500 hover:underline">Official Site</a></p>
    <p><a href="https://twitter.com/rubykaigi" target="_blank" class="text-blue-600 dark:text-blue-500 hover:underline">X</a></p>
    <p><a href="https://smarthr.co.jp/" target="_blank" class="text-blue-600 dark:text-blue-500 hover:underline">SmartHR</a></p>
  </div>
  <div class="text-sm text-gray-500">
    This website is made with Rails7, Hotwire and TailwindCSS
  </div>
</div>
