/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require reset
 */

.thumbnail-img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 344px;
}

.session-title {
    font-size: 24px;
}

.session-description {
    font-size: 16px;
}

.profile {
    display: flex;
    justify-content: flex-end;
}

.thumbnail {
    margin: 0 8px 0 16px;
}

.profile-text {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 16px;
}

.handle {
    font-weight: bold;
}

.profile {
    font-size: 8px;
}
