@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-button {
    @apply box-border cursor-pointer inline-flex justify-center items-center whitespace-nowrap gap-2 text-center rounded-md border border-solid border-[var(--mainColor)] py-3 px-4 font-bold bg-[var(--mainColor)] text-[var(--textColor)] hover:border-[var(--hoverColor)] hover:bg-[var(--hoverColor)] disabled:border-[rgb(202,198,194)] disabled:bg-[rgb(242,242,242)] disabled:cursor-not-allowed;
  }

  .normal-button {
    @apply box-border cursor-pointer inline-flex justify-center items-center whitespace-nowrap gap-2 text-center rounded-md border border-solid border-[rgb(214,211,208)] py-3 px-4 font-bold bg-white text-[rgb(35,34,30)] hover:border-[rgb(202,198,194)] hover:bg-[rgb(242,242,242)] disabled:border-[rgb(202,198,194)] disabled:bg-[rgb(242,242,242)] disabled:cursor-not-allowed;
  }

  .dialog {
    @apply rounded-md bg-white shadow-[0_4px_8px_2px_rgba(3,3,2,0.3)] backdrop:bg-[rgba(3,3,2,0.5)];
  }
}

@layer utilities {
  .nav-current {
    @apply  relative after:content-[''] after:absolute after:right-0 after:bottom-0 after:left-0 after:block after:h-1 after:bg-[var(--mainColor)];
  }

  .tab-btn-active {
    @apply relative text-[rgb(35,34,30)] border-[var(--mainColor)];
  }
}
