// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 16px;
}
