<div class="w-full h-full flex items-center justify-center">
  <div class="flex items-center justify-center w-[1120px] h-[275px]">
    <div class="h-28 w-28 bg-cover" style="background-image: url('<%= asset_path("#{event.name}/rubykaigi.png") %>');"></div>
    <div class="ml-4">
      <div class="mb-2">
        <h1 class="text-2xl"><%= I18n.t('table.no_plans') %></h1>
      </div>
      <div class="mb-2">
        <%= I18n.t('table.no_plans_description') %>
      </div>
    </div>
  </div>
</div>
